body {
  background: transparent;
}


/* Całe tło z efektem blur */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px); /* efekt rozmycia */
  background-color: rgba(0, 0, 0, 0.3); /* półprzezroczyste przyciemnienie */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Okienko logowania */
.modal {
  background: transparent;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

/* .modal h2 {
  margin-bottom: 1rem;
} */

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.inputs input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: bold;
  background-color: #555;
}

p {
  text-align: center;
  font-weight: bold;
}

span.logintext {
    color: orange;
    font-weight: bold;
}

button.loginbutton {
  background-color: #555;
}

button.registerbutton {
  background-color: #555;
}

button {
  margin-left: 20px;
  text-align: center;
}

button:hover {
 background-color: orange;
}